* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Background Colors */
    --bg-primary-color: #181818;
    --fill-color: #f4d868;
    --food-color: red;

    /* Text Colors */
    --text-primary-color: #f5f5f5;

    /* Spacing Variables */
    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
    --spacing-2xl: 40px;
    --spacing-3xl: 48px;

    /* Border Variables */
    --border-xs: 2px;
    --border-sm: 8px;
    --border-md: 12px;
    --border-lg: 16px;
    --border-xl: 20px;
    --border-2xl: 24px;

    /* Boder Color */
    --border-color: #282828;

}

html,
body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
}

main,
section {
    width: 100%;
    height: 100%;
}

section {
    padding: var(--spacing-3xl);
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--spacing-lg);
}

section .infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info {
    padding: var(--spacing-xs) var(--spacing-sm);
    border: var(--border-xs) solid var(--border-color);
    border-radius: var(--border-md);
}

.bord {

    border: var(--border-xs) solid var(--border-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.bolck {
    width: 50px;
    height: 50px;
    border-radius:  50%;
    border: 1px solid var(--border-color);
}


.fill {
    background-color: var(--fill-color);
}

.food {
    background-color: var(--food-color);
}

.model {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    background-color: transparent;
}

strat-game,
end-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);
}

strat-game h3,
end-game h3 {
    font-size: 2vw;
    font-weight: 300;
    user-select: none;
}

.btn {
    padding: var(--spacing-sm) var(--spacing-lg);
    border: none;
    border-radius: var(--border-md);
    background-color: var(--fill-color);
    color: var(--bg-primary-color);
    font-size: 1.2vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: greenyellow;
    color: var(--bg-primary-color);
    transform: scale(1.05);
}

end-game {
    display: none;
}

.btn-end:hover {
    background-color: red;
    color: var(--bg-primary-color);
    transform: scale(1.05);
}